* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/sfondo.jpg");
}

.container {
  margin: 5% 20%;
  text-align: center;
  position: relative;
}

header {
  height: 250px;
  background-image: url("../img/alberi.jpeg");
  margin-bottom: 20px;
  position: relative;
  color: white;
  border: 5px solid white;
  box-sizing: content-box;
}

h1 {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  padding: 7px 15px 1px;
}

h3 {
  position: absolute;
  width: 500px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
}

nav {
  background: grey;
  color: white;
  width: 100%;
  position: absolute;
  top: 250px;
  margin-top: 5px;
}

li.vocenav {
  padding: 5px 20px;
  display: inline-block;
  font-size: 10px;
}

li.listasinistra {
  text-align: left;
  display: block;
  padding: 5px 20px;
  color: green;
}


.vocenav:hover {
  background: lightgrey;
}

main {
  margin-top: 30px;
}

div {
  border: 1px white solid;
  border-radius: 2% 2%;
  padding: 5px;
}

section {
  border: 0;
}

main:after {
content: "";
display: table;
clear: both;
margin-bottom: 20px;
}

.sinistra {
  display: inline-block;
  float: left;
  width: 20%;
  background: white;
}

.fa fa-rss-square {
  display: inline-block;
}

.listasinistra {
  margin-bottom: 2px;
  display: block;
  width: 20%;
}

.centro {
  display: inline-block;
  width: 45%;
  background: white;
}

.destra {
  float: right;
  width: 20%;
  position: relative;
  border: 0;
}

.box {
  background-color: white;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: padding-box;
  border: 0;
}

footer {
  width: 100%;
  height: 50px;
  background: lightgrey;
  position: absolute;
  border: 3px lightgrey solid;
  border-radius: 2% 2%;
}

h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.fa fa-facebook-square {
  font-size: 50px;
  color: red;
}
