* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/sfondo.jpg");
}

.container {
  margin: 5% 20%;
  text-align: center;
  position: relative;
}

header {
  height: 250px;
  background-image: url("../img/alberi.jpg");
  margin-bottom: 20px;
  position: relative;
  color: white;
  border: 5px solid white;
  box-sizing: content-box;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  padding: 7px 15px 1px;
}

h3 {
  position: absolute;
  width: 500px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
}

nav {
  background: grey;
  width: 100%;
  position: absolute;
  top: 250px;
  margin-top: 5px;
}

.vocenav {
  padding: 5px 20px;
  display: inline-block;
  font-size: 10px;
}

main:after {
content: "";
display: table;
clear: both;
margin-bottom: 20px;
}

.sinistra {
  display: inline-block;
  float: left;
  width: 20%;
  background: red;
}

.centro {
  display: inline-block;
  width: 45%;
  background: blue;
}

.destra {
  float: right;
  width: 20%;
  background: pink;
  position: relative;
}

.box {
  background-color: lightgrey;
  margin-bottom: 15px;
}

footer {
  width: 100%;
  height: 50px;
  background: brown;
  position: absolute;
}

h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
